* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2ac9bf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 19.5px;
}

.nav li a:hover,
.nav li.active a {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    gap: 0 24px;
    align-items: center;
    margin-left: 97.5px;
}

.sign-in-btn {
    min-width: 108px;
    padding: 12px 0;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
}

.header .action .sign-up-btn {
    min-width: 108px;
    padding: 12px 0;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

.header .action .sign-in-btn:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header .action .sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero */

.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

.hero .label {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16129; /* 116.129% */
}

.hero .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7778; /* 177.778% */
}

.hero .desc .nowrap {
    white-space: nowrap;
}

.hero .action {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .play-btn {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .play-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.hero-summary {
    position: relative;
}

.hero .hero-summary .images {
    width: 55%;
}

.hero-summary .big-image {
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-summary .course-summary {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .course-summary .book-image {
    position: relative;
}

.hero-summary .course-summary .book-image::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    display: inline-block;
    width: 28px;
    height: 4px;
    border-radius: 99999px;
    background: #fff;
}

.hero-summary .course-summary .info {
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-summary .schedules-summary {
    position: absolute;
    bottom: 46px;
    left: -65px;
    display: flex;
    flex-direction: column;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .schedules-summary .info {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin: 16px auto;
}

.hero-summary .schedules-summary .piece {
    display: inline-block;
    width: calc(100% - 50);
    margin: 0 auto;
}

.hero-summary .schedules-summary .piece-1 {
    margin-bottom: 12px;
}

.hero-summary .schedules-summary .piece-2 {
    margin-bottom: 10px;
}

.hero-summary .schedules-summary .piece-3 {
    margin-bottom: 16px;
}

.hero-summary .schedules-summary .piece-4 {
    display: inline-block;
    width: 26px;
    height: 6px;
    margin: 0 auto;
    border-radius: 3px;
    background: #edf1f5;
}

.hero-summary .students-summary {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .students-summary .body {
    padding: 17px 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-summary .students-summary .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-summary .students-summary .body .students-avatar {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.hero-summary .students-summary .avatar {
    display: inline-block;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.hero-summary .students-summary span.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.hero-summary .students-summary .avatar,
.hero-summary .students-summary span.avatar {
    margin-left: -7px;
}

.hero-summary .students-summary .avatar:first-child {
    margin-left: 0;
}

/* Features */

.features {
    margin-top: 130px;
}

.features .info {
    width: 591px;
}

.features .features-word {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading {
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33333; /* 133.333% */
}

.features .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.feature-list {
    display: flex;
    margin-top: 80px;
}

.feature-list .column {
    width: 33.33%;
}

.feature-list .column .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-list .column .desc {
    max-width: 224px;
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.6875; /* 168.75% */
}

.feature-list .column .desc:first-child {
    width: 168px;
}

/* Courses */
.courses {
    margin-top: 130px;
}

.courses .courses-word {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.courses .info .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.77778; /* 177.778% */
}

.courses .info .cta-btn {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .courses-list {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}

.courses-item {
    position: relative;
}

.courses .courses-item .image {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.75;
    background: #d0efed;
}

.courses .courses-item .info {
    position: absolute;
    left: 17px;
    top: 84%;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .courses-item .info {
    padding: 18px 25px 29px 25px;
}

.courses .courses-item .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses .courses-item .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
}

.courses .courses-item .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-item .info-block .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
}

.courses-item .stats-row {
    margin-top: 18px;
    margin-bottom: 0;
    display: flex;
}

.courses-item .stats {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.courses-item .stats::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--primary-color);
}

/* Count Down */
.count-down {
    margin-top: 389px;
}

.count-down .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 200px;
}

.count-down .row .column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count-down .row .quantity strong {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.count-down .row desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    line-height: normal;
}

/* Feedback */
.feedback {
    margin-top: 264px;
}

.feedback .feedback-row {
    display: flex;
    justify-content: space-between;
}

.feedback .feedback-list {
    width: 35.8%;
    padding: 37px 0;
}

.feedback-item blockquote {
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback-item blockquote span {
    position: relative;
    display: block;
    margin-top: 33px;
    margin-left: 13px;
    color: #767e7e;
    font-size: 16px;
    line-height: normal;
}

.feedback-item blockquote cite {
    color: #070707;
    font-weight: 500;
    line-height: normal;
}

.feedback-item blockquote span::before {
    position: absolute;
    top: 50%;
    left: -5px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    transform: translateX(-100%);
}

.feedback .controls {
    display: flex;
    gap: 0 30px;
    margin-top: 52px;
}

.feedback .controls .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.feedback .controls .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.feedback .avatars {
    margin-left: 72px;
    position: relative;
    width: 58%;
}

.feedback .avatars .big-avatar {
    position: absolute;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .avatars .small-avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .avatars .avatar-1 {
    position: absolute;
    top: 0;
    left: 144px;
}

.feedback .avatars .avatar-2 {
    position: absolute;
    top: 19px;
    right: 0;
}

.feedback .avatars .avatar-3 {
    position: absolute;
    left: 0;
    bottom: 145px;
}

.feedback .avatars .avatar-4 {
    position: absolute;
    left: 212px;
    bottom: 0;
}

.feedback .avatars .avatar-5 {
    position: absolute;
    right: 32px;
    bottom: 29px;
}

/* Message */
.message {
    margin-top: 206px;
    background: #def6f5;
}

.message .row {
    display: flex;
    align-items: center;
    padding: 76px 0 88px;
}

.message-block .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

.message-block .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: normal;
}

.message .start-btn {
    margin-left: 410px;
}

/* Footer */
.footer {
    padding: 131px 135px 50px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    line-height: normal;
}

.footer .column .list {
    margin-top: 26px;
}

.footer .column .desc {
    color: #535353;
    font-size: 1.6rem;
    line-height: normal;
}

.footer .social-item {
    margin-bottom: 18px;
}

.footer .social-item:last-child {
    margin-bottom: 0;
}

.footer .social-item a {
    display: flex;
    align-items: center;
    gap: 0 9px;
}

.footer .column li {
    margin-bottom: 18px;
}

.footer .column li:last-child {
    margin-bottom: 0;
}

.footer .copyright {
    padding-top: 80px;
}

.footer .copyright p {
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
    line-height: normal;
}
